pre {
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);
}

.hljs-ln-numbers {
  text-align: center;
  color: #ccc;
  border-right: 1px solid #4c4c4c;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 10px !important;
}

.hljs-ln-code {
  padding-left: 10px !important;
}

.hljs-ln tr:nth-child(even) {
  background-color: #303030;
}

.hljs-ln tr:hover {
  background-color: #525252;
}

.hljs-ln {
  margin: 5px 0 0 0 !important;
  width: 100%;
}

.hljs {
  position: relative;
  padding-bottom: 5px !important;
}

.hljs:before {
  position: sticky;
  display: block;
  color: #fff;
  content: attr(data-rel);
  height: 38px;
  line-height: 38px;
  background: #21252b;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 0px 80px;
  text-indent: 15px;
}

.hljs:after {
  content: ' ';
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  top: 0;
  left: 20px;
  margin-top: 13px;
  -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
  box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
  z-index: 3;
}